@font-face {
  font-family: "iconfont"; /* Project id 2849720 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1639399670279') format('woff2'),
       url('iconfont.woff?t=1639399670279') format('woff'),
       url('iconfont.ttf?t=1639399670279') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia-copy:before {
  content: "\e8b4";
}

.icon-tianjia:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e6ac";
}

.icon-jiantou-copy:before {
  content: "\e601";
}

.icon-yonghu:before {
  content: "\e638";
}

.icon-jiantou:before {
  content: "\e600";
}

.icon-shoujihao1:before {
  content: "\e61c";
}

.icon-jinggao-copy:before {
  content: "\e8b3";
}

.icon-shoujihao:before {
  content: "\e608";
}

.icon-confirmation-password-jf:before {
  content: "\e620";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}

.icon-mima:before {
  content: "\e8b2";
}

