.hospital-box {
    padding-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0/20%);
}

.list-container {
    border-top: 2px solid #ededed;
}

.list-item {
    border-bottom: 1px solid #ededed;
    background: #fff;
}

.list-item:hover {
    background-color: #eee;
}

.hospital-item,
.department_list_item {
    padding: 16px 24px;

}

.department_list_item{
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;

}

.hospital-img {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
    height: 100px;
}

.hospital-img img {
    width: 170px;
    height: 100px;
}

.regist-img{
    width: 200px;
    height: 120px;
}

.regist-img img{
    width: 200px;
    height: 120px;
}

.info {
    display: inline-block;
    vertical-align: middle;
    height: 100px;
    margin-left: 20px;
}

.item-title {
    width: 100%;
}

.item-title h3 {
    font-size: 18px;
    vertical-align: top;
    font-weight: 600;
}

.item-title a {
    color: #000;
}

.item-title a:hover {
    color: #3d84ff;
    text-decoration: none;
}

.item-title a:focus {
    text-decoration: none;
}

.hospital-description {
}

.department-nameList {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
    border-bottom: 1px solid #ededed;
    padding-bottom: 20px;
    height: 80px;

}

.info .item-info {
    margin: 5px 0;
}

.choose-department{
    padding-bottom: 15px;
}

.choose-department .department-nameList .department-item {
    margin: 0 8px;
    padding: 5px 10px;
    color: #4C4C4E;
    font-size: 16px;
}

.choose-department .department-nameList .department-item:hover {
    cursor: pointer;
}

.choose-department .department-nameList .checked {
    background-color: #6AA2E4;
    color: #fff;
}

.choose-department table{
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 15px;
    width: 80%;
    margin: 40px auto;
}

.choose-department table .h,
.choose-department table .f{
    border-bottom: none;
    background-color: #f9f9f9;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: 400;
}

.choose-department table thead{
    border: .5px solid #ececec;
    border-bottom: none;
}

.choose-department table .r{
    border-left: none;
    height: 70px;

}

.choose-department table tr td{
    border: .5px solid #ececec;
    text-align: center;
    height: 70px;
    width: 100px;
    vertical-align: middle;
    font-weight: 400;
}

.first span{
    width: 80px;
}

.regist-btn{
    width: 100%;
    height: 70px;
}

.regist-btn a{
    display: inline-block;
    width: 100%;
    background-color: #eff6fe;
    color: #377bee;
    height: 70px;
}

.regist-btn a:hover{
    border: none;
    background-color: #6fa9ff;
    color: #fff;
}

.regist-btn span{
    line-height: 70px;
}

.regist-btn .gray{
    background-color: #f8f8f8;
    color: #d2d2d2;
}

.regist-btn .gray:hover{
    background-color: #f2f2f2;
    color: #a6a6a6;
}


/*此处开始为分页条*/
.page-container {
    margin: 0;
    padding: 0;
    font: 14px arial;
    white-space: nowrap;
}

.page-inner {
    padding: 14px 0 14px 50px;
    text-align: center;
}

.page-inner a {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 6px;
    color: #3951b3;
    background-color: #f5f5f6;
    margin-right: 12px;
    display: inline-block;
    vertical-align: text-bottom;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.page-inner .big-item {
    width: 80px;
    padding: 0;
    line-height: 36px;
    border: none;
}

.hospital-page-link .page-no {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: block;
    cursor: pointer;
}

.page-inner a:hover{
    background: #4e6ef2;
    color: #fff;
    font-weight: normal;
}

.page-container .page-info{
    text-align: center;
    font-weight: normal;
    font-size: 15px;
}

.picked{
    background: #4e6ef2;
    color: #fff;
    font-weight: normal;
}

.hospital-header{
    display: none;
}

#department-title{
    margin-top: 10px;
    font-weight: 500;
}

#regist-header .info .item-info span{
    font-size: 14px;
}

.title{
    font-weight: 900;
}



.expert{
    height: auto;
}

.department-img{
    display: inline-block;
    width: 80px;
    height: 80px;
}

.department-img img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}


.item-title .expert_name{
    font-size: 20px;
    font-weight: 500;
    color: #377bee;
    text-decoration: none;
}

.item-info.expert_profession span{
    color: #333;
    font-size: 15px;
}

.choose-expert{
    float: right;
    margin-top: 40px;
    border-radius: 80px;
}

.item-info .appointment{
    color: #8b8b8b;
}

.item-info .appointment .num{
    color: #86aff3;
}






